:root
{
   --body-color:#757575;
   --span-logo: #2196F3;
   --h-color:#000000;
   --titles-color:#212121;
   --title-hero:#FFFFFF;
   --logo-footer:#ffffff;
   --map-color:#ffffff;

   --background-body:#ffffff;
   --background-button: #F5F4FA;
   --background-focus-button: #2196F3;
   --background-hero:#2F303A;
   --background-hero-focus:#188CE8;
   --background-teammates:#F5F4FA;
   --background-teammates-item:#FFFFFF;
   --background-titles-item:#FFFFFF;
   --background-footer:#2F303A;
}



 .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }

 h1,h2,h3,h4 , p {
   margin: 0;
 }



 
 ul
 {
   list-style: none;
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
   padding-right: 0;
 }

 a
   {
      text-decoration: none;
      color: inherit;
   }

   .container{
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
   }

   img {
      display: block;
   }

/* ___________________________________________Header */

.page-header{
   height: 80px;
   border-bottom: 1px solid #ECECEC;;

}
.header-container{
   display: flex;
   align-items: center;
   
}

.header-nav-container{
   display: flex;
   align-items: center;
}
.header-contacts {
   display: flex;
   align-items: center;
   margin-left: auto;
}


 .logo
 {
    color: #000000;
  
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    padding-top: 24px;
    padding-bottom: 25px;

 }

 .span-logo
 {
    color: var(--span-logo);
 }

 .nav-menu
 {
    color: var(--h-color);
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: flex;
    align-items: center;

    margin-left: 93px;

 }

 

 .nav-menu-flex {
   margin-left: 50px;
   
 }

 .nav-menu-flex:first-child
 {
   margin-left: 0;
 }

 .nav-item {
   padding-top: 32px;
   padding-bottom: 32px;

 }


 

 .nav-item:hover,
 .nav-item:focus,
 .contacts:hover,
 .contacts:focus
 {
   color: var(--background-focus-button);
 } 
 
 .nav-menu .nav-item.current
 {
   color: var(--background-focus-button);
 }
 
 
 .contacts
 {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   padding-top: 32px;
   padding-bottom: 32px;
 }

 .header-contacts-flex:last-child {
 margin-left: 50px;
 }



 /*___________________________________________body*/

body 
{
    font-family: 'Roboto', sans-serif;  
    color:var(--body-color);
    background-color: var(--background-body);
    font-size: 14px;
    letter-spacing: 0.03em;
    
}

.hero
{
   background: var(--background-hero);
   padding-top: 200px;
   padding-bottom: 200px;
}

.hero-title
{
   
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   text-transform: uppercase;

   color: var(--title-hero);

   width: 696px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
  

}

.hero-button
{
   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   display: block;
   
   text-align: center;
   letter-spacing: 0.06em;

   color: var(--title-hero);
   background: var(--background-focus-button);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   border: none;

   cursor:pointer;

   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 32px;
   padding-right: 32px;
   


}
.hero-button:focus ,
.hero-button:hover
{
   background: var(--background-hero-focus);
}

.section
{
   padding: 94px 0;
}
.properties{
   display: flex;
   
   gap: 30px;
}

.properties-flex {
   flex-basis: calc((100% - 90px) / 4);
}


.properties-title
{
   
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   
   text-transform: uppercase;

   color: var(--titles-color);
}

.properties-description
{
  
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;

   margin-top: 10px;
   
   
   
}

.button
{
   cursor:pointer;

   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.63;
   letter-spacing: 0.03em;

   background: var(--background-button);
   border-radius: 4px;

   color: #212121;
   border-color: transparent;
   border: none;
}



.big-headers
{
   
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;

   color: var(--titles-color);

   margin-bottom: 50px;
}

.examples{
   display: flex;
   gap: 30px;
   
   
}
.examples-flex{
   flex-basis: calc((100% - 60px) / 3);
}


.team
{
   background: var(--background-teammates);
}
.team-header {
   padding-top: 94px;
}
.teammates{
   display: flex;
   gap:30px;

}

.teammates-item
{

   background: var(--background-teammates-item);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
   flex-basis: calc((100% - 90px) / 4)
}

.teammates-block{
   padding: 30px 0;
}
.teammates-name
{
   
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;

   color: var(--titles-color);
}

.teammates-position
{
   
   font-weight: 400;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   margin-top: 10px;
}

.button:hover ,
.button:focus
{
   color: var(--background-titles-item);
   background-color: var(--background-focus-button);
}
 
   

 

 /* _______________________Portfolio */
 .example-button{
   background: var(--background-button);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 4px;

   padding: 6px 22px;
   }

.example-container{
  
}

 .example-menu{
   display: flex;
   justify-content: center;
   gap: 8px;

}
.titles-menu{
   display: flex;
   flex-wrap: wrap;
   gap: 30px;

   margin-top: 50px;
}

.titles-item
 {
   background: var(--background-titles-item);
   /* border: 1px solid #EEEEEE; */
   flex-basis: calc((100% - 60px) /3 ) ;
 }

 .titles-item .titles
 {
   
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   
   color: var(--titles-color);


  
 }


 ul .titles-description
 {
  
   font-weight: 400;
   font-size: 16px;
   line-height: 1.88;

   padding-top: 4px;
   
 }

 .titles-border
 {
   border: 1px solid #EEEEEE;
   border-top: none;
   padding: 20px 24px;
 }

 /* _____________________________________footer */

 footer
 {
   background: var(--background-footer);
   padding: 60px 0;
 }

 address
 {
   font-style: normal;
 }

 .logo-footer
 {
   display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--logo-footer);

    margin-bottom: 20px;
 }

 .map
 {
   color: var(--logo-footer);

   
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   /* or 171% */

   letter-spacing: 0.03em;

 }

 .footer-list {
   margin-top: 20px;
 }
.footer-list-item:not(:first-child)
{
   margin-top: 9px;
}

 .contacts-footer
 {
   
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;

   color: rgba(255, 255, 255, 0.6);
 }
 
 .contacts-footer:hover,
 .contacts-footer:focus,
 .map:hover,
 .map:focus
 {
   color: var(--background-focus-button);
 } 